<div class="modal fade" id="editContentModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
            <textarea id="contentToEdit"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel & Close</button>
            <button type="button" type="button" class="btn btn-default" id="updateContentInFrameSubmit">Save Content</button>
          </div>
      </div>
    </div>
</div>
