<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript" src="js/gmap3.min.js"></script>
<script>
$('#test1').gmap3({
        marker:{
          address: "Mahilpur, Punjab, India",
    options: {
     icon: new google.maps.MarkerImage(
       "http://gj-designs.in/effecty/marker.png",
       new google.maps.Size(32, 54, "px", "px")
     )
    }
        },
        map:{
          options:{
            zoom: 12
          }
        }
      });
</script>
