<div class="menu" id="menu">

  <div class="main" id="main">
    <h3>Blocks</h3>
    <ul id="elements">
      <li>
        <a href="#" id="all">All Blocks</a>
      </li>
    </ul>
    <a href="#" class="toggle">
      <span class="fa fa-cogs"></span></a>
    <hr>
    <h3>Pages</h3>
    <ul id="pages">
      <li style="display: none;" id="newPageLI">
        <input type="text" value="index" name="page">
        <span class="pageButtons">
          <a href="" class="fileEdit">
            <span class="fa fa-clone"></span></a>
          <a href="" class="fileDel">
            <span class="fa fa-times"></span></a>
          <a class="btn btn-xs btn-default fileSave" href="#">
            <span class="fa fa-check"></span></a>
        </span>
      </li>
      <li class="active">
        <a href="#page1">index</a>
        <span class="pageButtons">
          <a href="" class="fileEdit">
            <span class="fa fa-clone"></span></a>
          <a class="btn btn-xs btn-default fileSave" href="#">
            <span class="fa fa-check"></span></a>
        </span>
      </li>
    </ul>
    <div class="sideButtons clearfix">
      <a href="#" class="btn btn-default btn-sm" id="addPage">Add</a>
      <a href="#exportModal" data-toggle="modal" class="btn btn-sm btn-default disabled actionButtons">Export</a>
    </div>
  </div>

  <div class="second" id="second">
    <a href="#" class="hideSecond" id="hideSecond">hide</a>
    <ul id="elements"></ul>
  </div>
</div>
