{% import "macros/macros.njk" as macro %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">
    {{macro.css(s="bootstrap.min")}}
    {{macro.css(s="fonts")}}
    {{macro.css(s="admin")}}

    <style>

    </style>
    {%block styles %}{% endblock %}
  </head>
  <body>
    {% include "includes/nav.njk" %}
    <ol class="breadcrumb">
      <li><a href="#">Admin</a></li>
      <li class="active">{{title}}</li>
    </ol>
    {% block content %}{% endblock %}

    {{macro.js(s="jquery.min")}}
    {{macro.js(s="bootstrap.min")}}
    {{macro.js(s="sound")}}
    {{macro.js(s="audio")}}
    {{macro.js(s="bootstrap-select")}}

    {{macro.js(s="src-min-noconflict/ace")}}
    {{macro.jsT(s="/siofu/client")}}
    {{macro.jsT(s="/socket.io/socket.io")}}
    {{macro.css(s="shared")}}
    {{macro.js(s="admin")}}

    <script>
      var socket = io.connect();
      {% if config.app.debugToolbar %}
        loadToolbar();

        socket.addEventListener("statsTimed", function (i) {
          $.each(i, function (key, value) {
            $('#' + key).html(value);
          });
        });

        socket.addEventListener("stats", function (i) {
          $.each(i.info, function (key, value) {
            $('#' + key).html(value);
          });
          $('.toolbarBody').append('<div class="toolbarItem status">Status: <span class="toolbarRes blink">OK</span></div>');
        });

        {% if config.app.audio %}
          $('.toolbar').hover(function () {
            createjs.Sound.play("hover");
          });
        {% endif %}
      {% endif %}
      showtoast('{{title}}');

      {% if (config.app.audio) and (config.app.help) %}
        $('.close').click(function () {
          createjs.Sound.play("close");
        });
      {% endif %}

    </script>
    {%block scripts%}{% endblock %}
  </body>
</html>
