{% extends 'skeleton.njk' %}
{% block content %}
	<div class="error">
		<div class="container">
			<div class="col-md-12">
				<div class="error-wrap">
					<div class="heading1">ERROR 404</div>
					<div class="heading2">NOT FOUND</div>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
					<ul class="links">
						<li><i class="fa fa-angle-right"></i><a href="#">HOME</a></li>
						<li><i class="fa fa-angle-right"></i><a href="#">ABOUT US</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
