{% extends 'skeleton.njk' %}
{% block content %}
<div class="contact-1 contact-2">
	<div class="container">
		<div class="col-md-6 map">
			<div id="test1" class="gmap3"></div>
		</div>
		<div class="col-md-6 right">
			<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
			<address>
			  <strong>MegaBlocks, Inc.</strong><br>
			  1355 Market Street, Suite 900<br>
			  San Francisco, CA 94103<br>
			  <abbr title="email">Email:</abbr> email@yourdomain.com<br>
			  <abbr title="Phone">Phone:</abbr> (123) 456-7890<br>
			  <abbr title="Fax">Fax:</abbr> +99 (0) 800 0000 008
			</address>
			<ul class="f-socials">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-skype"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{% include "includes/gmaps.njk" %}
{% endblock %}
