{% extends 'skeleton.njk' %}
{% block content %}
	<footer class="footer-6">
		<div class="container">
			<div class="col-md-6">
				<div class="txt">© 2015 All Rights Reserved. Mega Blocks</div>
			</div>

			<div class="col-md-6 right">
				<ul class="f-socials pull-right">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-skype"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-rss"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
	</footer>
{% endblock %}
