{% extends 'skeleton.njk' %}
{% block content %}
	<footer class="footer-3">
		<div class="container">
			<div class="col-md-12">
				<ul class="links">
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
				<a href="#" class="f-logo"><img src="/images/logo5.png" class="img-responsive" alt="" /></a>
				<div class="txt">© 2015 All Rights Reserved. Mega Blocks </div>
			</div>
		</div>
	</footer>
{% endblock %}
