{% extends 'skeleton.njk' %}
{% block content %}
	<header class="header-4 header-5">
		<div class="top-bar">
			<div class="container">
			<div class="col-md-4 left">
				<i class="fa fa-phone"></i> +001 234 5678
				<span class="gap"><i class="fa fa-skype"></i> gj-designs</span>
			</div>
			<div class="col-md-8 right">
				<ul class="top-socials pull-right">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-skype"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#"><i class="fa fa-rss"></i></a></li>
				</ul>
			</div>
			</div>
		</div>
		<div class="search">
		  <form class="container">
			<input type="text" placeholder="Type here and press enter ...." name="q"/>
		  </form>
		</div>
		<nav class="navbar navbar-default">
		  <div class="container container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#"><img src="/images/logo3.png" alt="" /></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav navbar-right" >
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Pages</a></li>
				<li><a href="#">Work</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Shop</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#" id="search-toggle"><i class="fa fa-search"></i></a></li>
			  </ul>
			</div>
		  </div>
		</nav>
		<div class="welcome-3">
			<div class="container">
				<div class="col-md-6">
					<img src="/images/2_03.png" class="img-responsive" alt="" />
				</div>
				<div class="col-md-6 right">
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading">We Cook Professionally</h4>
							<p>Nulla id tortor nec lectus feugiat ultricies. Duis sit amet augue vitae dui biben id tortor nec lectus.</p>
						</div>

					  <div class="media-right">
						<a href="#">
						  <div class="media-object circle">
								<img src="/images/2_06.png" alt="" />
						  </div>
						</a>
					  </div>
					</div>

					<div class="media">
						<div class="media-body">
							<h4 class="media-heading">Online Table Reservation</h4>
							<p>Nulla id tortor nec lectus feugiat ultricies. Duis sit amet augue vitae dui biben id tortor nec lectus.</p>
						</div>

					  <div class="media-right">
						<a href="#">
						  <div class="media-object circle">
								<img src="/images/2_10.png" alt="" />
						  </div>
						</a>
					  </div>
					</div>

					<div class="media">
						<div class="media-body">
							<h4 class="media-heading">Special Events</h4>
							<p>Nulla id tortor nec lectus feugiat ultricies. Duis sit amet augue vitae dui biben id tortor nec lectus.</p>
						</div>

					  <div class="media-right">
						<a href="#">
						  <div class="media-object circle">
								<img src="/images/2_14.png" alt="" />
						  </div>
						</a>
					  </div>
					</div>
				</div>
			</div>
		</div>
		</header>
{% endblock %}
