{% extends 'skeleton.njk' %}
{% block content %}
	<div class="header-6 header-7">
		<div class="sidenav active">
			<div class="center">
				<ul class="side-menu">
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Pages</a></li>
					<li><a href="#">Work</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Shop</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>
			<div class="logo">
				<a href="#"><img src="/images/logo4.png" alt="" /></a>
			</div>
			<div class="socials">
				<ul class="leftnav-socials">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-skype"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				</ul>
				<div class="bottom-txt">
					<p>MegaBlocks - 2015 ©</p>
				</div>
				<a href="#" class="slide-btn"><i class="fa fa-bars"></i></a>
			</div>
		</div>
		<div class="right-area">
			<h1>mega<br> blocks<span class="purple-color">.</span></h1>
			<p>Through brand strategy and design, we craft experiences<br> that help brands stand out as well as stand for something.</p>
		</div>
	</div>
{% endblock %}
