{% extends 'skeleton.njk' %}
{% block content %}
	<div class="navbar-9">
		<div class="container">
			<div class="col-md-3">
				<a href="#"><img src="/images/logo2.png" alt="" /></a>
			</div>

			<div class="col-md-9 right">
				<ul class="n-socials pull-right">
					<li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
					<li><a href="#"><i class="fa fa-skype fa-2x"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
