{% extends 'skeleton.njk' %}
{% block content %}
<header class="header-2 navbar-2">
<div class="top-bar">
	<div class="container">
	<div class="col-md-4 left">
		<i class="fa fa-phone"></i> <span>+001 234 5678</span>
		<span class="gap"><i class="fa fa-skype"></i> <span>gj-designs</span></span>
	</div>
	<div class="col-md-8 right">
		<ul class="top-socials pull-right">
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-skype"></i></a></li>
			<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa fa-rss"></i></a></li>
		</ul>
	</div>
	</div>
</div>
<div class="search">
  <form class="container">
	<input type="text" placeholder="Type here and press enter ...." name="q"/>
  </form>
</div>
<nav class="navbar navbar-default">
  <div class="container container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="" /></a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right" >
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">Pages</a></li>
		<li><a href="#">Work</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Shop</a></li>
		<li><a href="#">Contact Us</a></li>
		<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			  </ul>
		</li>
		<li><a href="#" id="search-toggle"><i class="fa fa-search"></i></a></li>
	  </ul>
	</div>
  </div>
</nav>
</header>
{% endblock %}
