{% extends 'skeleton.njk' %}
{% block content %}
	<div class="register login">
		<div class="container">
			<div class="col-md-12">
				<div class="login-wrap">
					<div class="heading">CREATE A NEW ACCOUNT</div>
					<div class="row">
					<div class="col-md-6">
					<div class="input-group">
						<span class="txt">First Name</span>
					  <input type="text" class="form-control" aria-label="...">
					</div>
					</div>
					<div class="col-md-6">
					<div class="input-group">
						<span class="txt">Last Name</span>
					  <input type="text" class="form-control" aria-label="...">
					</div>
					</div>

					<div class="col-md-12">
					<div class="input-group">
						<span class="txt">Email Address</span>
					  <input type="text" class="form-control" aria-label="...">
					</div>
					</div>

					<div class="col-md-12">
					<div class="input-group">
						<span class="txt">Password</span>
					  <input type="text" class="form-control" aria-label="...">
					</div>
					</div>
					<button type="button" class="btn btn-success">Create Your Account</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
